@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Manrope:wght@200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -.02em;
    line-height: 120%;
    cursor: none;
}


:root{
    --primary-color: #1B2653;
    --backgroundcolor: #fff;
    --desccolor: #667172;

    --space4: 0.25rem;
    --space6: 0.375rem;
    --space8: 0.5rem;
    --space10: 0.625rem;
    --space12: 0.75rem;
    --space14: 0.875rem;
    --space16: 1rem;
    --space20: 1.25rem;
    --space24: 1.5rem;
    --space28: 1.75rem;
    --space32: 2rem;
    --space36: 2.25rem;
    --space40: 2.5rem;
    --space48: 3rem;
    --space56: 3.5rem;
    --space64: 4rem;
    --space72: 4.5rem;
    --space80: 5rem;
    --sectionPadding: 4rem 5.375rem;
    --sectionGap: 3rem;
    --cardGap: 2rem;

    --roleNamefont: 'Irish Grover', cursive;
    
    --fontLight: 300;
    --fontMedium: 500;
    --fontSemiBold: 600;
    --fontBold: 700;
    --font-extraBold: 800;

    --font12:.75rem;
    --font14: 0.875rem;
    --font16: 1rem;
    --font18: 1.125rem;
    --font20: 1.25rem;
    --font22: 1.375rem;
    --font24: 1.5rem;
    --font28: 1.75rem;
    --font30: 1.875rem;
    --font32: 2rem;
    --font36: 2.25rem;
    --font40: 2.5rem;

    --baseFontSize: 1rem;
    --doubleBaseFontSize: 2rem;
    
    --borderRadius1: .5rem;
    --borderRadius2: 1rem;
    --borderRadius3: 1.5rem;
    --borderRadius4: 2rem;


    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#custom-pointer {
    position: absolute;
    z-index: 9999;
    pointer-events: none; /* Cannot be clicked, allows clicking content underneath */

    /* STYLING: Small, white dot with a slight border/shadow */
    width: 8px; 
    height: 8px;
    background-color: var(--primary-color); 
    border: 1px solid #fff;
    border-radius: 50%; /* Perfect circle */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(0, 0, 0, 0.2);
    
    /* Center the dot exactly on the mouse coordinates */
    transform: translate(-50%, -50%); 
    
    /* Make the movement smooth (short transition time) */
    transition: transform 0.3s ease-out; 
}

#cursor-tag {
    /* Position it absolutely so we can control its exact location */
    position: absolute;
    
    /* Initially hide it and ensure it's on top of all other elements */
    z-index: 9999;
    pointer-events: none; /* Crucial: Allows clicking on elements *under* the tag */

    /* Style the tag */
    background-color: #333; /* Dark background */
    color: white; /* White text */
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    
    /* Hide the element until the mouse moves */
    opacity: 0; 
    transition: opacity 0.3s ease;
}

@media only screen and (min-width: 1439px){

:root{
    --sectionPadding: 6.5rem 4rem;
    --sectionGap: 3rem;
    overflow-y: scroll;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header{
    padding: var(--space20) var(--space40);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--backgroundcolor);
}

.logo{
    display: flex;
    align-items: center;
    gap: var(--space8);
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo-box a{
    text-decoration: none;
}

.logo p{
    font-size: var(--font24);
    font-family: adlam display, sans-serif;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: var(--space32);
}

.nav-links a{
    font-size: var(--font16);
    font-weight: 500;
    color: var(--primary-color);
    transition: all 1s ease-in-out;
    font-size: var(--font16);
    letter-spacing: -0.01em;
    text-decoration: none;
    line-height: 150%;
}

.nav-links a:hover{
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.login-but{
    padding: var(--space12) var(--space24);
    border: none;
    font-size: var(--font16);
    background-color: var(--primary-color);
    color: var(--backgroundcolor);
    border: 2px solid var(--primary-color);
    border-radius: var(--space12);
    cursor: none;
    transition: all 0.3s ease-in-out;
}

.login-but:hover{
    padding: var(--space12) var(--space24);
    border: none;
    font-size: var(--font16);
    color: var(--primary-color);
    background-color: var(--backgroundcolor);
    border: 2px solid var(--primary-color);
    border-radius: var(--space12);
    cursor: none;
    font-weight: 700;
}

.login-but:active{
    padding: var(--space12) var(--space24);
    border: none;
    font-size: var(--font16);
    color: var(--primary-color);
    background-color: #c4cbe9;
    border: 2px solid var(--primary-color);
    border-radius: var(--space12);
    cursor: none;
    font-weight: 700;
}

.hero{
    padding: 0 var(--space40);
    width: 100%;
    height: 47.625rem;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.bg-img{
    width: 100%;
    height: 100%;
    border-radius: var(--space24);
    overflow: hidden;
     position: relative;
     z-index: 1;
}

.bg-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bg-img::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 60%;
    
    background-image: linear-gradient(
            135deg, 
            rgba(0, 0, 0, 0.50) 0%,  
            rgba(0, 0, 0, 0.70) 27%,  
            rgba(0, 0, 0, 0.70) 48%,  
            rgba(0, 0, 0, 0.70) 59%,  
            rgba(0, 0, 0, 0.45) 100%  
        );
    
    /* Ensure the overlay is on top of the image (z-index of 2 on a relative parent) */
    z-index: 2; 
    mix-blend-mode: overlay;
}

.text-search-content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: 80%;
    transform: translate(-50%, -50%);
    gap: 6.875rem;
    display: flex;
    flex-direction: column;
}



.hero-text{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: #FFFFFF;
    text-align: center;
    z-index: 99;
    width: 100%;
    gap: var(--space16);
    display: flex;
    flex-direction: column;

}

.hero-text h1{
    font-size: var(--space48);
    color: #FFFFFF;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03em;
    mix-blend-mode: hard-light;

}

.hero-text p{
    font-size: var(--font20);
    mix-blend-mode: hard-light;
    color: #ffFFFF;
    font-weight: 500;
}

.search-form{
    padding: var(--space40) var(--space32);
    background-color: #FFFFFF;
    border-radius: var(--space24);
}

.search-form-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: var(--space16);
}

.input-content span{
    font-size: var(--font32);
    color: var(--primary-color);
}

.input{
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.input label{
    font-size: var(--font16);
    color: #383838;
    font-weight: 600;
}

.dropdown{
    width: 9.5rem;
    padding: var(--space8)  var(--space8) var(--space8);
    font-size: var(--font16);
    border: 1px solid #d7dbec;
    border-radius: var(--space8);
    background-color: #FFFFFF;

    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%209L12%2015L18%209%22%20stroke%3D%22%231B2653%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the arrow */
    background-size: 20px;
}

.dropdown:hover, .dropdown:focus{
    border: 1px solid var(--primary-color);
}

.dropdown .option{
    font-size: var(--font16);
    background-color: transparent;
    border-radius: 50%;

}

/* .divider::before, .divider::after, .divider{
    content: '';
    width: 1px;
    height: 100%;
    flex-grow: 1; 
    background-color: #352f2f;
} */


.divider{
    width: 12px;
    height: 100%;
    flex-grow: 1; 
    background-color: #352f2f;

}




































.section-heading{
    gap: var(--space8);
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

}

.section-heading h1{
    font-size: var(--font32);
    line-height: 120%;
    letter-spacing: -.02em;
    color: #1B2653;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
}

.section-heading p{
    font-size: var(--font16);
    line-height: 110%;
    font-weight: 500;
    color: var(--desccolor);
    text-align: center;
    
}



.services, .destinations{
    padding: var(--sectionPadding);
    display: flex;
    background-color: #fff;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: var(--space80);
    border-bottom: 1px solid rgba(191, 191, 191, .8); 
}

.services-content{
    display: flex;
    width: 67.5%;
    height: fit-content;
    justify-content: space-between;

}


.serviceleft{
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: var(--space48);
}

.serviceright{
    width: 39.5%;
    height: 1fr;
    overflow: hidden;
    border-radius: 24px;
    border: 2px solid rgba(205, 208, 220, 50%);
    box-shadow: 0 2px 8px 0 rgba(27, 38, 83, .15);
}

.serviceright img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-card{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--space12);
    padding: var(--space24);
    border: .5px solid rgba(205, 208, 220, 50%);
    border-radius: var(--space16);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
}

.service-name{
    display: flex;
    flex-direction: row;
    gap: var(--space12);
    align-items: center;
}

.icon-box{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1B2653;
    color: #FFFFFF;
    font-size: var(--font24);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box1{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #DC420C;
    color: #FFFFFF;
    font-size: var(--font24);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box2{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #7A9E9F;
    color: #FFFFFF;
    font-size: var(--font24);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box .material-symbols-outlined{
    font-size: var(--font28);
}

.service-name h3{
    font-size: var(--font22);
    color: #333;
    line-height: 120%;
}

.service-card p{
    font-size: var(--font16);
    line-height: 150%;
    font-weight: 500;
    color: var(--desccolor);
}




.dest-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space40);

}

.dest-card{
    display: flex;
    width: 54%;
    height: 25rem;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}

.dest-card2{
    display: flex;
    width: 43%;
    height: 25rem;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}


.dest-card::after, .dest-card2::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    opacity: 80%;
    
   background-image: linear-gradient(
        135deg, 
        rgba(79, 86, 112, 0.1) 10%,
        rgba(43, 48, 67, 0.25) 25%,  
        transparent 100%
    );
}

.dest-card img, .dest-card2 img{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.dest-card:hover img, .dest-card2:hover img{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.dest-details{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--space16);
    z-index: 2;
}

.locate{
    background-color: rgba(122, 158, 159, .20);
    border-radius: 12px;
    display: flex;
    padding: .5rem .625rem .5rem .5rem;
    align-items: center;
    gap: var(--space4);
    border: .5px solid rgba(27, 38, 83, .05);
    color: #fff;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}


.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, .15);
    border: 1px solid rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: var(--space16);
    border-radius: 12px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.14);
    transition: all 0.3s ease-in-out;
}

.name{
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.name h3{
     font-family: raleway, sans-serif;
    font-size: var(--font28);
    font-weight: 500;
}

.name p{
    font-size: var(--font24);
    font-weight: 600;
}

.name p span{
    font-size: var(--font14);
    font-weight: 400;
}

.name-price a{
    background-color: #1B2653;
    padding: var(--space8);
    border-radius: var(--space8);
}

.name-price a svg{
    color: #fff;
    vertical-align: middle;
}


.dest-card:hover .dest-details .name-price, .dest-card2:hover .dest-details .name-price{
    background-color: rgba(255, 255, 255, .25);}

}